<div class="container" id="container">
            <div class="row top">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <div class="name"><%= link_to "Orlando Chen", root_path%></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                    <nav>
                        <ul class="list-inline" id="menu">
                            <li class="active">
                                <a href="index-2.html">Project</a>
                            </li><!--
                            --><li>
                                <a href="blog.html">myApp</a>
                            </li><!--
                            --><li>
                                <a href="contact.html">Portfolio</a>
                            </li><!--
                            --><li>
                                <%= link_to image_tag("icon/icon-linkedin.png", :alt => "linkedin", :class => "social"),  'http://www.linkedin.com/in/orlandochen0308'%>
                                <%= link_to image_tag("icon/icon-github.png", :alt => "github", :class => "social"),  'https://github.com/OrlandoChen0308'%>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>      
			<div class="row bottom">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <div>
                        <section>
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    
                                    <!--activity image-->
<!--                                     <img class="img-responsive" src="/assets/images/image-home-2.jpg" alt="Project header"> -->
									<%= image_tag("image-home-2.jpg", :alt => "Project header", :class => "img-responsive") %>
                                    
                                    <!--activity title -->
                                    <h1>Graduate student in Texas A&M University</h1>
                                    <h1 class="spacer">___</h1>
                                    
                                    <!--activity descritpion-->
                                    <p class="work">Seeking full-time position in software development</p>
                                    <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud bitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud autem non dubitatur quod cum esset aliquando virtutum omnium domibitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud autem non dubitatur quod cum esset aliquando virtutum omnium domibitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud autem non dubitatur quod cum esset aliquando virtutum omnium domiautem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.llud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.</p>
                                
                                </div>
                            </div>   
                        </section>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                    <div id="scroll-shadow"></div>
                    
                    <h1 class="visible-xs section-header">Last work</h1>
                    <h1 class="visible-xs text-center spacer">___</h1>
                    
                    <!--work choice-->
                    <div class="item-choice">
                        <a href="#" class="filter" data-filter="all">All</a> 
                        <a href="#" class="filter" data-filter="web-design"> Web design</a> 
                        <a href="#" class="filter" data-filter="mobile-design"> Mobile design</a> 
                        <a href="#" class="filter" data-filter="illustration">Illustration</a>
                        <hr>
                    </div>
                    
                    <section class="row" id="Grid">
                        <!--work 1-->
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix web-design">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                    
                                        <!--work image-->
 <!--                                        <img class="img-responsive item-img" src="work/projet-example-1.png" alt="Work 1"> -->
										<%= link_to image_tag("work/projet-example-1.png", :alt => "work1", :class => "img-responsive")%>                                        
                                    </a>
                                </div>
                                <div class="panel-body">
                                
                                    <!--work title-->
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    
                                    <!--work category-->
                                    <p class="item-category">Logotype</p>
                                    
                                    <!--work short description-->
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    
                                    <!--work tags-->
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix print">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-6.jpg" alt="Work 2">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Web design</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix web-design">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-3.png" alt="Work 3">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Illustration</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix print">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-4.png" alt="Work 4">
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Logotype</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix illustration">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-5.png" alt="Work 5">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Logotype</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix print">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-9.jpg" alt="Work 6">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Web design</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix illustration">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-7.png" alt="Work 7">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Branding</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix illustration">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-8.png" alt="Work 8">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Poster</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix illustration">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-2.png" alt="Work 9">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Logotype</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix print">
                            <div class="panel panel-default item">
                                <div class="panel-heading">
                                    <a href="project-example.html">
                                        <img class="img-responsive item-img" src="img/work/projet-example-10.png" alt="Work 10">
                                    </a>    
                                </div>
                                <div class="panel-body">
                                    <a href="project-1.html"><h4 class="item-title">Project Title</h4></a>
                                    <p class="item-category">Logotype</p>
                                    <p class="item-description">Iam virtutem ex consuetudine vitae sermonisque nostri nostri nostri</p>
                                    <hr>
                                    <p class="item-tags">
                                        <a href="#">illustration</a> ,
                                        <a href="#">graphic design</a> ,
                                        <a href="#">website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <a class="btn btn-block scroll-top visible-xs">
                        <img src="img/icon/icon-chevron.png" alt="Scroll top">
                    </a>
                </div>
            </div>                        
        </div>  
  
  
		<script src="/javascripts/js/jquery.js"></script>
        <!-- FASTCLICK -->
        <script src="/javascripts/js/plugins/fastclick/fastclick.js"></script>
        <!-- SMOOTH SCROLL -->
        <script src="/javascripts/js/plugins/smooth-scroll/jquery.smooth-scroll.min.js"></script>
        <!-- MIXITUP -->
        <script src="/javascripts/js/plugins/mixitup/jquery.mixitup.min.js"></script>
        
        <script src="/javascripts/js/main.js"></script>  