<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start_time %><br>
    <!-- <%= f.datetime_select :start_time %> -->
    <% Time.zone = 'Central Time (US & Canada)'%>
    <%= f.datetime_select :start_time, :start_year => Time.now.year - 25, :end_year => Time.now.year + 55%>    
  </div>
  <div class="form-group">
    <%= f.label :end_time %><br>
    <!-- <%= f.datetime_select :end_time %> -->
    <%= f.datetime_select :end_time, :start_year => Time.now.year - 25, :end_year => Time.now.year + 55%>     
  </div>
  <div class="form-group">
    <%= f.submit "submit", class: 'btn, btn-block' %>
  </div>
<% end %>
