<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog - Orlando Chen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
    <script>
    var ready = function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay',
                height: 650
            },
        /*
            editable: true allow user to edit events.
        */
            editable: true,            
            events: '/events.json'
        })    
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
    </script>
</head>
<body>
    <div class="container-fluid" id="container">
            <div class="row top">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <div class="name"><%= link_to "Orlando Chen", root_path%></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                    <nav>
                        <ul class="list-inline" id="menu">
                            <li class="active">
                                <%= link_to "Projects", root_url%>
                            </li><!--
                            --><li>
                                <%= link_to "myApp", events_url%>
                            </li><!--
                            --><li>
                                <a href="contact.html">Portfolio</a>
                            </li><!--
                            --><li>
                                <%= link_to image_tag("icon/icon-linkedin.png", :alt => "linkedin", :class => "social"),  'http://www.linkedin.com/in/orlandochen0308'%>
                                <%= link_to image_tag("icon/icon-github.png", :alt => "github", :class => "social"),  'https://github.com/OrlandoChen0308'%>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="container" id="container">
                <div class="row bottom">
                    <%= yield %>
                </div>        
            </div>          
    </div>
</body>
</html>
